<template name="Playlist.DisplayComponent">
  <div class="section">
    {{#if trackError}}
      <div class="row track-error">
        <div class="col s12 center-align">
          {{trackError}}
        </div>
      </div>
    {{/if}}
    <ul class="collection z-depth-1">
      {{#each pendingTracks}}
        {{> Playlist.TrackComponent}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="Playlist.TrackComponent">
  <li class="collection-item track avatar {{state}}">
    {{#if isPlaying}}
      <div class="progress">
        <div class="determinate" style="width: {{playingPosition}}%;"></div>
      </div>
    {{else}}
      <span class="drag-handle grey-text"><i class="material-icons">reorder</i></span>
    {{/if}}
    <img src="{{track.image}}" alt="" class="circle">
    <span class="title">{{#if track.artist.name}}{{track.artist.name}} – {{/if}}{{track.title}}</span>
    <p><span title="{{formatDate playStart DEFAULT_DATETIME_FORMAT}}">{{calendarDate playStart}}</span> ({{lengthMinutes}})</p>
  </li>
</template>
