@import 'nib'

.track-error
  // TODO: Use $red.darken-3 here.
  color #c62828
  // TODO: Use $red.ligten-5 here.
  background-color #ffebee
  padding 1rem

.collection
  .collection-item.track
    min-height auto

    &.playing
      // TODO: Use $teal.lighten-5 here.
      background-color #e0f2f1

    .drag-handle
      float right
      user-select none

      cursor -webkit-grab
      cursor -moz-grab
      cursor grab

    .drag-handle:active
      cursor -webkit-grabbing
      cursor -moz-grabbing
      cursor grabbing

    .progress
      position absolute
      margin-top -10px
      margin-left -72px
      margin-right 0
      margin-bottom 0
