<template name="MainLayoutComponent">
  <main>
    <div class="container">
      <div class="row">
        <div class="main col s12">
          {{> renderMain}}
        </div>
      </div>
    </div>
  </main>
</template>

<template name="ColumnsLayoutComponent">
  <main>
    <div class="container">
      <div class="row">
        <div class="main col s12">
          {{> renderMain}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="first col s4">
        {{> renderFirst}}
      </div>
      <div class="second col s4">
        {{> renderSecond}}
      </div>
      <div class="third col s4">
        {{> renderThird}}
      </div>
    </div>
  </main>
</template>
